*{
    margin: 0;
    padding: 0;
    font-size: 16px;
     font-family: "Arimo", sans-serif;
body{
    height: 100%;
}
nav .kon_menu{
    width: 100%;
    height: 100%;
    overflow: auto;
}
header .top_strony{
    margin: 0;
    padding: 0;
}
.top_strony h1{
    margin-top: 15%;
    font-size: 3,5rem;
    font-weight: normal;
    text-shadow: 0 0 3px solid rgb(10, 10, 10);
}

.kon_menu{
    width: 100%;
    position: fixed;
    background: rgb(245, 245, 245);
    padding: 15px 0;
    padding: 0px;
    box-shadow: 0 0 5px rgb(10, 10, 10);
}
.link_menu{
    width: 45px;
    margin: 0 auto;
    padding: 0;
    align-items: centers;
    list-style: none;
}
nav ul li{
    list-style: none;
}
nav  ul li{
    width: 90px;
    float: left;
    text-align: center;
}
nav ul li a:hover{
    background: rgb(83, 63, 26);
    border-radius: 20px;
}
.top_strony h2{
    line-height: 0;
    font-size: 2rem;
    font-weight: normal;
    box-shadow: 0 0 5px rgb(10, 10, 10);
}
.top_strony p a{
    padding: 25px 80px;
    background: rgb(245, 245, 245);
    text-decoration: none;
    color: rgb(38, 38, 38);
    transition: background .9s, color 9s;
}
.pokaz menu{
    padding: 10px;
    background: rgb(83, 62, 26);
    text-align: center;
    display: block;
    color: rgb(245, 245, 245);
}
.footer p{
    margin-top: 18%;
}